@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-public-sans), ui-sans-serif, system-ui, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-merriweather), ui-serif, Georgia, serif;
}

::selection {
  background-color: #9ac3c1;
  color: #004643;
}
